
<div class="candidate_form">
  <%= form_for @candidate, :html => {:class => 'form-horizontal new_candidate'} do |f| %>

    <% if @candidate.errors.any? %>
      <div class="errors">
        <h4 class="text-danger"><%= pluralize(@candidate.errors.count, "error") %> prohibited your form being saved</h4>
        <ul class="text-danger list-inline">
          <% @candidate.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    
    <div class="form-group">
      <div class="col-xs-4 control-label">
        <%= f.label :name %>
      </div>
      <div class="col-xs-8 no-padding">
        <%= f.text_field :name, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-xs-4 control-label">
        <%= f.label :gender %>
      </div>
      <div class="col-xs-8 no-padding field-wrap" style="padding-top: 8px;">
        <div class="col-xs-4 col-xs-offset-1 radio">
          <%= f.radio_button :gender, "male", :checked => true %>
          <%= f.label :gender_male, "Male" %>
        </div>
        <div class="col-xs-6 no-padding radio">
          <%= f.radio_button :gender, "female" %>
          <%= f.label :gender_female, "Female" %>
        </div>
      </div>
    </div>
    
    <div class="form-group">
      <div class="col-xs-4 control-label">
        <%= f.label :experience %>
      </div>
      <div class="col-xs-8 no-padding">
        <%= f.select :experience, options_for_select((0..30).step(1)), {include_blank: "Please select"} ,{:class => 'form-control'} %>
      </div>
    </div>
    
    <div class="form-group">
      <div class="col-xs-4 control-label">
        <%= f.label :position %>
      </div>
      <div class="col-xs-8 no-padding">
        <%= f.select :position, options_for_select(position_options), {include_blank: "Please select"}, {:class => 'form-control'} %>
      </div>
    </div>
    
    <div class="form-group">
      <div class="col-xs-4 control-label">
        <%= f.label :area %>
      </div>
      <div class="col-xs-8 no-padding">
        <%= f.select :area, options_for_select(area_options), {include_blank: "Please select"}, {:class => 'form-control'} %>
      </div>
    </div>
    
    <div class="form-group">
      <div class="col-xs-4 control-label">
        <%= f.label :email %>
      </div>
      <div class="col-xs-8 no-padding">
        <%= f.email_field :email, class: 'form-control' %>
      </div>
    </div>
    
    <div class="form-group">
      <div class="col-xs-4 control-label">
        <%= f.label :phone %>
      </div>
      <div class="col-xs-8 no-padding">
        <%= f.phone_field :phone, class: 'form-control' %>
      </div>
    </div>
    
    <div class="form-group">
      <div class="col-xs-4 control-label">
        <%= f.label :resume %>
      </div>
      <div class="col-xs-8 no-padding" style="position: relative; padding-top: 9px; height: 50px;">
        <span class="btn btn-success fileinput-button">
          <i class="glyphicon glyphicon-plus"></i>
          <span>Select files...</span>
          <%= f.file_field :resume %>
        </span>
        <span class="output-msg"></span>
      </div>
    </div>

    <div class="form-group submit-wrap">
      <%= f.submit "Apply", class: "btn btn-success btn-block btn-submit" %>
    </div>

  <% end %>
</div>
